<div class="container">

    <div *ngFor="let movie of movies; index as i">
        <div class="card mt-3 bg-light border-0">
            <div class="card-body">
            <div class="card-title d-flex justify-content-between">
                <h5>{{i + 1}}<span class="text-primary"> {{movie.title}} </span> <span class="fw-lighter">( {{movie.year}} )</span></h5>
                <div>
                    <button class="btn btn-danger btn-sm"><i class="bi bi-trash-fill me-2"></i>Delete</button> 
                    <button class="btn btn-success btn-sm ms-2"><i class="bi bi-pencil-square me-2"></i>Edit</button> 
                </div>
            </div>

            <div class="card-text">
                <p class="mb-1">
                    <i class="bi bi-star-fill" style="color: gold;"></i> {{movie.rate}}
                </p>
                <p class="mb-1">{{movie.time}} | {{movie.genre}}</p>
                <p>{{movie.description}}</p>
            </div>
            </div>
        </div>
    </div>   
</div>