 <div class="container">
    <div class="center">

        <form action="">
            <label >Search by:</label>
            <select movie="" >
                <option value="Movie Title"> Title</option>
                <option value="Year"> Year</option>
                <option value="Genre"> Genre</option>
               
            </select>

            

            <br>
            <input type="text" >
        </form>

        <button type="button" class="btn btn-secondary">Search</button>
       
    </div>
</div>
