.container-fluids{
    background-image: linear-gradient(rgba(18, 43, 117, 0.5), rgba(33, 37, 37, 0.5)), url("../assets/movies.jpg");
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}