<div class="container-fluids">
  <div><nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
      <i routerLink="movies" class="bi bi-bug font-weight-bold">Movie Reviews</i>  
    </a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
              <a routerLink="movies" class="nav-link active" aria-current="page">Home</a>
          </li>
          
          <li class="nav-item Add">
            <a routerLink="add" class="nav-link active" aria-current="page" href="#">Add Movies</a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>
  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
</div>


